<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		.outline{
			margin: auto;
			border: 3px solid #000;
			padding: 20px;
			width: 60%;
			text-align: center;
			font-family: 'Arial', sans-serif;
			font-size: 16px;
		}
		.success{
            background-color: lightgreen;
        }
		#incoming_message_box{
			display: none;
		}
	</style>
	<title>Survey Form Sockets</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function() {
            var socket = io.connect();
            $('button').click(() => {
                event.preventDefault();
                var $inputs = $('form :input');
                // console.log($inputs);
                var values = {};
                $inputs.each(function() {
                    values[this.name] = $(this).val();
                });
                console.log(values);
                //make an emit to the server, sending data from the form
                socket.emit('posting_form', values);
                socket.on("send_back_form_information_and_number", function(msg) {
                    // console.log(num);
					console.log("****************** client: \n" + msg);
                    $('#incoming_message_box').append(msg).show();
                })
            })
        })
    </script>
</head>
<body>
	<div id="incoming_message_box" class="outline success"></div>
	<div class="outline">
		<h3>Survey Form Revisited</h3>
		<br>
		<form class="form-horizontal" action="" method="POST">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name:</label>
				<div class="col-sm-10">
					<input type="text" name="name" class="form-control" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<label for="location" class="col-sm-2 control-label">Dojo Location:</label>
				<div class="col-sm-10">
					<select name="location" value="location" class="form-control">
						<option>Mountain View</option>
						<option>Seattle</option>
						<option>Chicago</option>
						<option>Washington D.C.</option>
						<option>Los Angeles</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="language" class="col-sm-2 control-label">Favorite Language:</label>
				<div class="col-sm-10">
					<select name="language" value="language" class="form-control">
						<option>Javascript</option>
						<option>Python</option>
						<option>C#</option>
						<option>Swift</option>
						<option>Java</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="comment" class="col-sm-2">Comment (optional):</label>
				<div class="col-sm-10">
					<textarea name="comment" class="form-control" rows="3" placeholder="Comment here..."></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>